!!!
%html
  %head
    %script{:src=>"/vendor/jquery-1.2.6.js"}
    %script{:src=>"/vendor/template/jquery.template.js"}
    %script{:src=>"/vendor/object/jquery.object.js"}
    %script{:src=>"/static/Orbited.js"}
    :javascript
      document.domain = document.domain
      Orbited.settings.port = "#{JSilver::Orbited::Port}";
      Orbited.settings.hostname = document.domain;//"#{JSilver::Orbited::Host}";
      TCPSocket = Orbited.TCPSocket;
    %script{:src=>"http://#{JSilver::Orbited::Host}:#{JSilver::Orbited::Port}/static/protocols/stomp/stomp.js"}
    
    :javascript
      jQuery(function(_) {
        window.stomp = new STOMPClient();
          
        var client_id = JSON.stringify({
          time: (new Date()).toString(),
          user_agent: navigator.userAgent
        });
        
        stomp.onopen = function() {
          console.log("Opened Stomp Transport");
        };
        
        stomp.onclose = function() {
          console.log("Closed Stomp Transport");
          console.log("Reconnecting");
          connect();
        };
        
        stomp.onerror = function(error) {
          console.error(error);
        };
        
        stomp.onerrorframe = function(frame) {
          console.error('Error Frame: ', frame.body);
        };
        
        stomp.onconnectedframe = function(frame) {
          console.log('Connected Frame: ', frame.body);
          console.log("Subscribing")
          stomp.subscribe('$CHANNEL_3', {exchange:''});
        };
        
        stomp.onmessageframe = function(frame) {
          var payload = JSON.parse(frame.body);
          console.log('Message Frame: ', payload);
          console.dir(payload);
        };
        
        function connect() {
          console.log("Connecting");
          stomp.connect(document.domain, 61613, client_id, '');
        }
        connect();
      });
      
    %script{:src=>'/specs/logger.js'}
  %body
