!!!
%html
  %head
    %script{:src => JSilver.root/'specs'/'screw-unit.js'}
    %script{:src => JSilver.root/'public'/'embedded.js'}
    - for script in scripts
      %script{:src => script}
  %body
    =yield
